@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

/* Just to add padding */
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


button.normal{

  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000000;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;

}


body {
  width: 100%;
}

.logo{
  width: 70px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3DFFD;
  position: sticky;
  top : 0;
  left : 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  position: relative;
  list-style: none;
  padding: 0px 20px;
  display: flex;  
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #183A1D;
  transition: .5s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #002B5B;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content:"";
  width: 30%;
  height: 2px;
  background: #000000;
  position: absolute;
  bottom: -4px;
  left: 20px;
  }

  /* HERO Section */

  #hero {
    background-image: url(images/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #hero h4 {
    padding-bottom: 15px;
  }

    #hero h2 {
      padding-bottom: 10px;
    }

  #hero button {
    border: 0;
    font-size: 16px;
    font-weight: 700;
    background-image: url(images/button.png);
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
  }


  #offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  #offers img{
    width: 100%;
      border-radius: 20px;
    border: #002B5B;
    border-width: 5;
  }

  #offers .feature-box{
    width: 420px;
    height: 300px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.5);
    border: 1px solid color #2D2727 ;
    border-radius: 4px;
    margin: 15px 0px;
    cursor: pointer;
    
}

#offers .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 1);
}

/* Make image responsive */

#offers .feature-box img {
  width: 100%;
  margin-bottom: 15px;
}

#products {
  text-align: center;
}

#products .product-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#products .product {
  width : 23%;
  min-width : 250px;
  padding : 10px 12px;
  border: 1px solid #696c6f;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.10);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  text-decoration: none ;
}

#products .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

#products .product img {
  width: 100%;
  border-radius: 20px;
}

#products .product .description {
  text-align: start;
  padding: 10px 0;

}

#products .product .add-product{
  text-align: end;
}

#products .product .description span {
  font-size: 30px;
  
}

#products .product .description h5{
  padding-top: 10px;
  font-size: 14px;
  color: #2D2727;
}

#products .product .description h4 {
  padding-top: 10px;
  color:#2D2727;
}

#products .product .description .star{
align-items: center; 
color: #F2CD5C;
}

#products .product .description h4{

  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #2D2727 ;
}

#products .product .material-symbols-outlined{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  font-weight: 500;
  color: #002B5B;
  background-color: #F9F5EB;
  border: 1px solid;
  position:absolute;
  bottom: 20px;
  right: 10px;
  text-decoration: none;
}

#banner {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{ 

  color: white;
  font-size: 16px;
  font-weight: 700;

}

#banner h2 {

  color: white;
  font-size: 45px;
  font-weight: 700;
  padding: 20px 0;

}

#banner span {
  color: red;
}

#banner button:hover {
  color: black;
  background-color: yellow;

}

#sm-banners {
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}

#sm-banners .banner-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-decoration: none;
      background-image: url(images/banner/b17.jpg);
      min-width: 650px;
      height: 50vh;
      background-size: cover;
      background-position: center;
      padding: 30px;

}

#sm-banners .banner-box2 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    background-image: url(images/banner/b10.jpg);
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}


#sm-banners h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#sm-banners h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
}

#sm-banners span {
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
}


button.white {

  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;

}

#sm-banners .banner-box:hover button{

  background-color: #2D2727;
  border: 1px solid; 
}

#sm-banners .banner-box2:hover button {

  background-color: #2D2727;
  border: 1px solid;
}


#banner-box3{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 80px;
  
}

#banner-box3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  background-image: url(images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}

#banner-box3 .banner-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  background-image: url(images/banner/b4.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}

#banner-box3 .banner-box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  background-image: url(images/banner/b18.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}



#banner-box3 h2 {
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 22px;

}

#banner-box3 h3 {
  color: white;
  text-decoration: none;
  padding: 5px 0;
  font-weight: 800;
  font-size: 15px;
}

#banner-box3 span {
  color: white;
  padding-bottom: 15px;
}